.fs-7 {
    font-size: 0.875rem;
}

.display-7 {
    font-weight: 300;
    line-height: 1.2;
    font-size: calc(1.25rem + 0.25vw)
}


.navbar {
    --bs-navbar-padding-y: .25rem;
}

.navbar-nav {
    padding-left: inherit;
}

.bi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal; /* Add this line */
    width: 100%; /* Add this line */
}