@import url("preset.css");

* {
    box-sizing: border-box;
}

.icon {
    font-family: 'bootstrap-icons', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.tags-container {
    min-height: 38px;
}

.tag-input-container {
    flex-grow: 1;
}

.suggestion-item:hover, .suggestion-item.highlight {
    background-color: var(--bs-dark);
    color: var(--bs-primary);
}

.genre-suggestions, .tag-suggestions {
    z-index: 1000;
}
